ion-note {
  color: color($colors, primary) !important;
  font-size: 1.4rem !important;
}

textarea {
   resize: both;
}

.decalage {
	position: absolute;
	left: 70px;
}

.select-ion {
	padding-left: 20px;
}