.searchbar-input {
  box-shadow: none !important;
}

ion-footer {
  padding: 8px 16px !important;
}

ion-icon.like {
  margin-left: -25px;
  margin-right: 5px;
}

ion-icon.comment {
  margin-left: -25px;
  margin-right: 5px;
}

.wrapping-list .item-content, .wrapping-list .item .ion-card{
    overflow: initial;
    white-space: initial;
}

ion-card-content{
   white-space:normal
}

ion-card-content.body {
	padding-bottom: 50px;
  padding-left:0px;
 
}

p.body {
	text-align: justify;
	height: 50px;
    overflow: hidden;
}

ion-row {
	margin-bottom: -5px;
}